<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express App</title>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function() {
            var s = '';
            $.get('/movies', function(data, status) {
                $.each(data, function(key, value) {
                    s += '<li>' + value.name + '</li>';
                });
                $('#movielist').html(s);
            });
            $.post('/movies', {name:"Fast 6", genre:"Action", date:"23.04.2014"}, function(data){
              console.log("success");
            });
        });
    </script>
  </head>
  <body>
    <h1>sample app</h1>
    <ul id="movielist"></ul>
  </body>
</html>
